### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

tests/dst/
tests/src/

# ignore all python scripts except demetrius.py and python scripts inside dev folder
*.py
!demetrius.py
!dev/compare_filepath_lists.py
!dev/spinner.py
